<!DOCTYPE html>

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<title>动态交通可视化分析系统</title>
		<link rel="stylesheet" href="{{url_for('static',filename='./css/bootstrap.min.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static',filename='./css/app.css')}}" />
		<script src="{{ url_for('static',filename='./js/echarts-bmap.js')}}"></script>
	</head>

	<body class="bg02">
		<header class="header">
			<h3>动态交通可视化分析系统</h3>
		</header>

		<div class="wrapper">
			<div class="container-fluid">
				<div class="row fill-h">
					<div class="col-lg-7 fill-h" style="width: 45%;height: 60%;min-height: 20%;left: 27.5%;right: 27.5%;top: 0%;bottom: 20%;">
						<div class="xpanel-wrapper xpanel-wrapper-1">
							<div class="xpanel">
								<div class="fill-h" id="bmapChart"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 fill-h" id="right_top_two" style="width: 27.5%; min-height: 10%;   right: 0%;  left: 72.5%; position: absolute;">
						<div class="xpanel-wrapper xpanel-wrapper-2" style="height:30%">
							<div class="xpanel">
								<!--<div class="fill-h"><h3 style="color: white">速度分析</h3></div>-->
								<div class="fill-h" id="speed_graph" style="background-color: #cdffe6;"></div>
							</div>
						</div>
						<div class="xpanel-wrapper xpanel-wrapper-2" style="height:30%">
							<div class="xpanel">
								<!--<div class="fill-h" ><h3 style="color: white">速度流量综合分析</h3></div>-->
								<div class="fill-h" id="speed_scatter" style="background-color: #cdffe6;"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 fill-h" id="left_two" style="width: 27.5%; min-height: 10%; left: 0%; position: absolute;">
						<div class="xpanel-wrapper xpanel-wrapper-2" style="height:30%">
							<div class="xpanel">
								<div class="fill-h" id="heatmapChart"></div>
							</div>
						</div>
						<div class="xpanel-wrapper xpanel-wrapper-2" style="height:30%">
							<div class="xpanel">
								<div class="fill-h" id="coordChart"></div>
							</div>
						</div>
					</div>
					<div class="row-lg-5 fill-h" id="bottom_four" style="width: 100%;min-height: 10%;height: 40%;left: 0%;top: 60%;position: absolute;">
						<div class="xpanel-wrapper xpanel-wrapper-2" style="height: 100%;left: 0.5%;width: 20%;position:absolute;">
							<div class="xpanel">
								<div class="fill-h">
									<h3 style="color: white">PoI饼图</h3>
								</div>
							</div>
						</div>
						<div class="xpanel-wrapper xpanel-wrapper-2" style="height: 100%;width: 28.5%;left: 21.5%;position: absolute;bottom: 0%;">
							<div class="xpanel">
								<div class="fill-h">
									<h3 style="color: white">桑基图</h3>
								</div>
							</div>
						</div>
						<div class="xpanel-wrapper xpanel-wrapper-2" style="height: 100%;width: 28%;right: 21.5%;position: absolute;bottom: 0%;">
							<div class="xpanel">
								<div class="fill-h">
									<h3 style="color: white">没想好</h3>
								</div>
							</div>
						</div>
						<div class="xpanel-wrapper xpanel-wrapper-2" style="height: 100%;width: 20%;right: 0.5%;position: absolute;bottom: 0%;">
							<div class="xpanel">
								<div class="fill-h">
									<h3 style="color: white">没想好</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=c6pIzPd8WxIKNAb3HxWSpboGhsS1ErDR"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/echarts-3.8.5.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/echarts-bmap.js')}}"></script>
		<script type="text/javascript">
			$(function() {
				/*************** 基于百度地图的热力图 **************/
				var start_time = 1525104000;
				var end_time = 1525194000;
				// alert(new Date(end_time*1000))
				// alert(new Date(start_time*1000).getHours()+":"+new Date(start_time*1000).getMinutes())

				j=0;
				time_line=[];
				time_list=[];
				var i=0;
				for(i=0;i<49;i++)
				{
				    time = start_time+i*1800;
					time_line[j]=new Date(time*1000).getHours()+":"+new Date(time*1000).getMinutes();
					time_list[j]=time;
					j++;
				}

				//初始化echarts实例
				const bmapChart= echarts.init(document.getElementById("bmapChart"));
				//配置
				const bmapOpt = {
					baseOption: {
                        timeline: {
                            // y: 0,
							axisType: 'category',
							// realtime: false,
							// loop: false,
							autoPlay: true,
							// currentIndex: 2,
							playInterval: 1000,
							// controlStyle: {
							//     position: 'left'
							// },
                            data: time_line
                        },
						animation: false,
						bmap: {
							center: [104.049104,30.505635],
							zoom: 13,
							roam: true
						},
						visualMap: [
						{
							show: false,
							top:'top',
							calculable: true,
							seriesIndex: 0,
							min: 0,
							max: 5,
							inRange: {
								color: ['blue', 'blue', 'green', 'yellow', 'red']
							}
						}
						],
						series: [
						{
							type: 'heatmap',
							coordinateSystem: 'bmap', //基于百度地图
							pointSize: 3,//5
							blurSize: 3//6
						}
						],
                    },
                    options: []
				};


				bmapChart.setOption(bmapOpt);


				var server_url = "http://127.0.0.1:5000";
				$.ajax
				({
					url: server_url + '/get_data_flow',
					type: 'GET',
					data: {'time_unit': time_list[i]},
					success: function (data) {
						data = JSON.parse(data);
						// alert(data);
						// alert(data_2)
						// data_1 = JSON.parse(data_1)
						// data_2 = JSON.parse(data_2)
						bmapChart.setOption({
						// bmapOpt.options.push({
							series: [
								{
									data: data
								}
							]
						});
					}
				});

				bmapChart.on('timelinechanged', function (timeLineIndex) {
				    var arrIndex = parseInt(timeLineIndex.currentIndex);
					$.ajax
					({
						url: server_url + '/get_data_flow',
						type: 'GET',
						data: {'time_unit': time_list[arrIndex]},
						success: function (data) {
							data = JSON.parse(data);
							bmapChart.setOption({
							// bmapOpt.options.push({
								series: [
									{
										data: data
									}
								]
							});
						}
					})
				});

				// //添加百度地图插件
				// let bmap = bmapChart.getModel().getComponent('bmap').getBMap();
				// bmap.addControl(new BMap.MapTypeControl());
				//
				// bmap.addEventListener("click", function(e){
    			// 	// alert(e.point.lng + ", " + e.point.lat);
    			// 	get_flow(e.point.lat,e.point.lng,time_unit);
				//
				// });


				// other
				// $.getJSON('data/on_baidu.json').done(function(data) {
				//
				// 	$.getJSON('data/off_baidu.json').done(function(data1) {
				// 	bmapChart.setOption({
				// 		series: [
				// 		{
				// 			data: data
				// 		},
				// 		{
				// 			data: data1
				// 		}
				// 		]
				// 	});
				//
				//
				// 	//添加百度地图插件
        		// 	let bmap = bmapChart.getModel().getComponent('bmap').getBMap();
        		// 	bmap.addControl(new BMap.MapTypeControl());
				//
				// 	});
				// });


				/********** 窗口大小改变时，重置报表大小 ********************/
				window.onresize = function() {
					bmapChart.resize();
					heatmapChart.resize();
					coordChart.resize();
				};
			});
		</script>

		<script src="../static/js/display.js"></script>
		<script>
    		latitude = 30.4915;
    		longitude = 104.0705;
    		street = "南湖路";
    		time_unit=600;
    		get_flow(latitude,longitude,time_unit);
    		get_street_flow(street,time_unit);
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/three_speed_within.js')}}"></script>
<script type="text/javascript">
</script>
	</body>
</html>