html {
    height: 100%;
    width:100%;
}

body {

    /*background: #161614;*/
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}

#flow_pic{
    width:60%;
    height:70%;
    float: top;
}





